<!-- footer.ejs -->
<footer class="footer">
    <img src="/images/logo.png" height="30px" width="30px" alt="Logo" class="footer-logo">
    <nav class="footer-nav">
      <a href="/">Privacy Policy</a>
      <a href="/">Terms of Service</a>
    </nav>
</footer>  