<header class="header">
  <div class="logo">
    <a href="/"><img src="/images/logo.png" height="60px" alt="Logo" /></a>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/courses">Courses</a>
    <a href="/">About</a>
    <a href="/">FAQ</a>
    <a href="/">Contact</a>
  </nav>
</header>