<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Supported E-Learning</title>
  <link rel="stylesheet" href="/css/base.css">
  
  <link rel="stylesheet" href="/css/partials/header.css">  
  <link rel="stylesheet" href="/css/partials/footer.css">
  <link rel="stylesheet" href="/css/partials/hero.css">
  <link rel="stylesheet" href="/css/partials/carousel.css">
</head>
<body>
    <!-- Including the header partial -->
    <%- include('partials/header') %>
  
    <!-- Including the hero partial -->
    <%- include('partials/hero') %>

    <!-- Including the carousel section -->
    <%- include('partials/Carousel', { courses: courses }) %>
    
    <!-- Including the header partial -->
    <%- include('partials/footer') %>

</body>
</html>
